


<mat-toolbar color="info">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <button type="button" mat-icon-button (click)="login()">
          <mat-icon  class="icon">input</mat-icon>
          <span class="label">Login</span>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav class="mat-sidenav" #drawer mode="side" opened role="navigation">
        <app-pokemon-list></app-pokemon-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>

      </mat-sidenav-content>
</mat-sidenav-container>
