<mat-card>
    <mat-card-header>
      <mat-toolbar class="toolbar">
        <mat-card-title>Team</mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-icon >add</mat-icon>
      </mat-toolbar>
    </mat-card-header>
  
    <mat-card-content>
      <div class="container">
        <table class="table">
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job</th>
            <th>Address</th>
            <th>Email</th>
            <th>Action</th>
          </thead>
          <tr *ngFor="let customer of customers">
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.job}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.email}}</td>
            <td><mat-icon (click)="editContact(customer.id)">edit</mat-icon></td>
            <td><mat-icon (click)="deleteContact(customer.id)">delete</mat-icon></td>
  
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>